<div class='parent'>
<table>
  <tr>
    <td>
      <a href="/upboat/questions/<%= @question.id%>" class="upboat">游냡</a>
      <span class="upvotes"><%= vote_total(@question) %></span>
      <a href="/downboat/questions/<%= @question.id%>" class="downboat">游디</a>
    </td>
    <td>
      <h1 class='title'><%=@question.question_title%></h1>
    </td>
  </tr>
</table>
</div>
  <p class='body'><%=@question.question_body%></p>
    <% if current_user == @question.questioner %>
      <a href='<%= @question.id %>/edit' class="edit-link">edit</a>
    <% end %>
  <p>by: <%=@question.questioner.name%></p>
    <form action='/questions/<%= @question.id %>/answers/new' method='get'>
      <input class='button' type='submit' value='answer'>
    </form>
  <a class='commentques' href="/questions/<%= @question.id %>/comments/new">comment</a>

<div class='question_comment_box'>
  <p>comments:</p>
  <% @question.comments.each do |comment| %>

  <div class = "parent" >
  <ul class='question_comment'>
     <li>

        <section class="parent">
          <table>
          <tr>
          <a href="/upboat/comments/<%= comment.id%>" class="upboat">游냡</a>
            <span class="upvotes"><%= vote_total(comment) %> </span>
            <a href="/downboat/comments/<%= comment.id%>" class="downboat">游디</a>
            <%=comment.text%> <span id="author">-<%=comment.commenter.name%></span>
        </section>

      <% if comment.commenter == current_user %>
      
      <a class='editbutton' href="/comments/<%=comment.id%>/edit" > edit</a>
        <form class='delete' method="post" action="/comments/<%=comment.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="comment_delete" value="delete">
        </form>

    </li>
      <% end %>
        </tr>
        </table>
  </ul>
  </div>

<% end %>
</div>



</p>

<h2>Answers</h2>
<%@question.answers.each do |answer|%>



<ul class='answer'>
  <div class='vote'>
  <section class ="parent">
  <table>
    <tr>
    <td>

      <a href="/upboat/answers/<%= answer.id%>" class="upboat">游냡</a>
      <span class="upvotes"><%= vote_total(answer) %></span>
      <a href="/downboat/answers/<%= answer.id%>" class="downboat">游디</a>
    </td>
    <td>
      <li class='answertext'><%=answer.text%> <span id="author">-<%=answer.answerer.name%></span></li>
    </td>
    <% if answer.answerer == current_user %>
      <td>
          <form action='/answers/<%= answer.id %>/edit' method='get'>
          <input class ='button' type='submit' value='edit post'>
          </form>
      </td>
      <td>
          <form action='/answers/<%= answer.id %>' method='post' class="delete">
          <input type='hidden' name="_method" value="delete">
          <input class='button' type='submit' value='delete post'>
          </form>
      </td>
    <% end %>


    <form action='/answers/<%= answer.id %>' method='post' class="delete">
      <input type='hidden' name="_method" value="delete">
      <input class='button' type='submit' value='delete post'>
    </form>
     <form action='/answers/<%= answer.id %>/comments/new' method='get' class="comment">
      <input class='button' type='submit' value='comment'>
    </form>
    </td>
  </tr>
  </table>


    </section>
  </div>
</ul>


<% unless answer.comments.empty? %>
<div>

    <ul class='answer_comments'>
    <li>comments:</li>
    <% answer.comments.each do |comment|%>

    <div class="parent">
      <li><a href="/upboat/comments/<%= comment.id%>" class="upboat">游냡</a>
        <span class="upvotes"><%= vote_total(comment) %> </span>
        <a href="/downboat/comments/<%= comment.id%>" class="downboat">游디</a>
        <%=comment.text%> <span id="author">-<%=comment.commenter.name%></span>
      </li>
    </div>
    <%end%>
    </ul>
    </div>
<%end%>

<%end%>









