title: <%=@question.question_title%>
<br>
body: <%=@question.question_body%>
<% if current_user == @question.questioner %>
  <a href='<%= @question.id %>/edit' class="edit-link">Edit</a>
<% end %>
<br>
<ul>
<%@question.answers.each do |answer|%>
  <!-- upvote/downvote buttons for answers -->
  <a href="/upboat/answers/<%= answer.id%>" class="upboat">^UP^</a>
  <span class="upvotes"><%= vote_total(answer) %></span>
  <a href="/downboat/answers/<%= answer.id%>" class="downboat">vDOWNv</a>

  <li>ANSWER: <%=answer.text%> -- <%=answer.answerer.name%></li>
  <li>
    <form action='/questions/<%= @question.id %>/answers/<%= answer.id %>/edit' method='get'>
      <input type='submit' value='edit post'>
    </form>
    <form action='/questions/<%= @question.id %>/answers/<%= answer.id %>' method='post'>
      <input type='hidden' name="_method" value="delete">
      <input type='submit' value='delete post'>
    </form>
  </li>
    <ul>
    <% answer.comments.each do |comment|%>
      <li>COMMENT: <%=comment.text%> -- COMMENTER: <%=comment.commenter.name%></li>
    <%end%>
  </ul>
<%end%>
</ul>

<form action='/questions/<%= @question.id %>/answers/new' method='get'>
  <input type='submit' value='answer post!'>
</form>




