title: <%=@question.question_title%>
<br>
body: <%=@question.question_body%>
<% if current_user == @question.questioner %>
  <a href='<%= @question.id %>/edit' class="edit-link">Edit</a>
<% end %>
<br>
<ul>
<%@question.answers.each do |answer|%>
  <li>ANSWER: <%=answer.text%> -- <%=answer.answerer.name%></li>
    <ul>
    <% answer.comments.each do |comment|%>
      <li>COMMENT: <%=comment.text%> -- COMMENTER: <%=comment.commenter.name%></li>
    <%end%>
  </ul>
<%end%>
</ul>

<form action='/questions/<%= @question.id %>/answers/new' method='get'>
  <input type='submit' value='answer post!'>
</form>

<!-- render answer form down here on click on answer button -->
