<h1 class='title'><%=@question.question_title%></h1>

<p class='body'><%=@question.question_body%>
<form action='/questions/<%= @question.id %>/answers/new' method='get'>
  <input class='button' type='submit' value='answer'>
</form>
<a href="/questions/<%= @question.id %>/comments/new">comment</a>
<div class='question_comment_box'>
<% @question.comments.each do |comment| %>

  <div class = "parent" >
  <ul class='question_comment'>

    <li><%= comment.text %>
      <% if comment.commenter == current_user %>
      <table>
      <tr>
      <a class='editbutton' href="/comments/<%=comment.id%>/edit" > edit</a>
        <form class='delete' method="post" action="/comments/<%=comment.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="comment_delete" value="delete">
        </form>
      </tr>
      </table>
      </li>
      <% end %>
  </ul>
  </div>

<% end %>
</div>


<% if current_user == @question.questioner %>
  <a href='<%= @question.id %>/edit' class="edit-link">Edit</a>
<% end %>
</p>


<%@question.answers.each do |answer|%>



<ul class='answer'>
  <div class='vote'>
  <section class ="parent">
  <table>
    <tr>
    <td>

      <a href="/upboat/answers/<%= answer.id%>" class="upboat">🐳</a>
      <span class="upvotes"><%= vote_total(answer) %></span>
      <a href="/downboat/answers/<%= answer.id%>" class="downboat">🗡</a>
    </td>
    <td>
      <li><%=answer.text%> <span id="author">-<%=answer.answerer.name%></span></li>
    </td>
    <% if answer.answerer == current_user %>
      <td>
          <form action='/answers/<%= answer.id %>/edit' method='get'>
          <input class ='button' type='submit' value='edit post'>
          </form>
      </td>
      <td>
          <form action='/answers/<%= answer.id %>' method='post' class="delete">
          <input type='hidden' name="_method" value="delete">
          <input class='button' type='submit' value='delete post'>
          </form>
      </td>
    <% end %>


    <form action='/answers/<%= answer.id %>' method='post' class="delete">
      <input type='hidden' name="_method" value="delete">
      <input class='button' type='submit' value='delete post'>
    </form>
     <form action='/answers/<%= answer.id %>/comments/new' method='get' class="comment">
      <input class='button' type='submit' value='comment'>
    </form>
    </td>
  </tr>
  </table>


    </section>
  </div>
</ul>


<div >
    <ul class='answer_comments'>
    <% answer.comments.each do |comment|%>

    <div class="parent">
      <li><a href="/upboat/comments/<%= comment.id%>" class="upboat">🐳</a>
        <span class="upvotes"><%= vote_total(comment) %> </span>
        <a href="/downboat/comments/<%= comment.id%>" class="downboat">🗡</a>
        <%=comment.text%> <span id="author">-<%=comment.commenter.name%></span>
      </li>
    </div>

    <%end%>
    </ul>
    </div>

<%end%>








