<h1 class='title'><%=@question.question_title%></h1>

<p class='body'><%=@question.question_body%>
<form action='/questions/<%= @question.id %>/answers/new' method='get'>
  <input class='button' type='submit' value='answer'>
</form>
<div class='question_comment_box'>
<% @question.comments.each do |comment| %>
<ul class='question_comment'>

  <li><%= comment.text %><a href="/comments/<%=comment.id%>/edit" > edit</a><a href="/questions/<%= @question.id %>/comments/new"> reply</a></li>

<!--   <li class="edit_question_comment"></li>
  <li class="add_question_commment"></li> -->
 </ul>
<% end %>
</div>


<% if current_user == @question.questioner %>
  <a href='<%= @question.id %>/edit' class="edit-link">Edit</a>
<% end %>
</p>

<ul>
<%@question.answers.each do |answer|%>

  <div class ="parent">
  <li class='answer'>ANSWER: <%=answer.text%> -- <%=answer.answerer.name%></li>


  <!-- upvote/downvote buttons for answers -->
  <a href="/upboat/answers/<%= answer.id%>" class="upboat">🐳</a>
  <span class="upvotes"><%= vote_total(answer) %></span>
  <a href="/downboat/answers/<%= answer.id%>" class="downboat">🗡</a>

  <li>
    <form action='/answers/<%= answer.id %>/edit' method='get'>
      <input class ='button' type='submit' value='edit post'>
    </form>
    <form action='/answers/<%= answer.id %>' method='post' class="delete">
      <input type='hidden' name="_method" value="delete">
      <input class='button' type='submit' value='delete post'>
    </form>
  </li>
    <ul>
    <% answer.comments.each do |comment|%>
      <li>COMMENT: <%=comment.text%> -- COMMENTER: <%=comment.commenter.name%></li>
    <%end%>
  </ul>
</div>
<%end%>
</ul>
</div>






